        <!--footer-->
        <footer class="kilimanjaro_area footer-light">
            <!-- Top Footer Area Start -->
            <div class="foo_top_header_one section_padding_100_70">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="kilimanjaro_part">
                                <h5>About Us</h5>
                                <p>This website is made with <i class="fa fa-heart" aria-hidden="true"></i> by Patrika.web</p>
                         <p>  You can also get Website for any occasion 
                          <br>  Birthdays
                          <br>  Weddings
                          <br>  Inaugurals
                          <br>  Personal Website
                          <br>      and much more</p>
                                <p>Feel free to ContactUs</p>
                            </div>
                            <div class="kilimanjaro_part m-top-15">
                                <h5>Social Links</h5>
                                <ul class="kilimanjaro_social_links">
                                    
                                    <li><a href="https://www.instagram.com/patrika.web/"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
                                    <li><a href="https://www.linkedin.com/company/patrika-web/"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                     
                      <div class="col-lg-3"></div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part">
                                <h5>Quick Contact</h5>
                                <div class="kilimanjaro_single_contact_info">
                                    <h5>Phone:</h5>
                                    <p>+91-8501082530</p>
                                </div>
                                <div class="kilimanjaro_single_contact_info">
                                    <h5>Email:</h5>
                                    <p>patrika.websites@gmail.com </p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area Start -->
            <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>© All Rights Reserved by <a href="#">Patrika.web<i class="fa fa-love"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>