
	<div class="layer py-lg-5">
		<div class="container py-5 card border-0 shadow" >
            
			<div class="text-center">
				<div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
						
						<div class="testi-pos">
              <img src="assets/img/gn.png" alt=""  class="img-fluid rounded-circle ">
              <p class="sloka"> ||ॐ श्री गणेशाय नम:||</p>
						<p class="sloka-2">वक्र तुंड महाकाय, सूर्य कोटि समप्रभ:। <br>निर्विघ्नं कुरु मे देव शुभ कार्येषु सर्वदा ॥</p>
						</div>
					</div>
					<div class="col-md-6 scnd">
                    <br>
                    <br>
                    
                        <p class="h2 mt-10 ww-title aos-init aos-animate" style="text-align: left;font-size: 2rem;" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000" data-aos-offset="10" >The Jadhav Family</p>
						<div class="testi-w3pvt-grid">
                           
							<p  style="text-align: left;font-size: 1.4rem;" >
                                Takes Immense Pleasure in welcoming you to join them to celebrate
                                the Forthcoming wedding of their pride Sai Kiran Jadhav with your family and friends.
							</p>
						</div>
                    <!--
                    <div id="timer" class="container">
                      <div class="row">
                        <div class=" col-3 col-sm-2">
                      <div>
                        {{days}}
                      </div>
                      <span>Days</span>
                    </div>
                    <div class=" col-3 col-sm-2">
                      <div>
                        {{hours}}
                      </div>
                      <span  >Hours</span>
                    </div>
                    <div class=" col-3 col-sm-2">
                      <div>
                        {{minutes}}
                      </div>
                      <span >Minutes</span>
                    </div>
                    <div class="  col-3 col-sm-2 col-sm-2">
                      <div>
                        {{seconds}}
                      </div>
                      <span   >Seconds</span>
                    </div>
                 </div>
                  </div>
                -->
                    </div>
                   
				
				</div>
			</div>
		</div>
	</div>
