
<div class="ww-home-page" id="home">
    <div class="ww-wedding-announcement d-flex align-items-center justify-content-start">
      <div class="container ww-announcement-container">
        <p class="ww-couple-name ww-title aos-init aos-animate" data-aos="zoom-in-down" data-aos-delay="1000" data-aos-duration="1000">SaiKiran &amp; Maneesha</p>
        <img class="img-fluid mt-1 aos-init aos-animate" src="assets/img/laurel-1.png" alt="Heart" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000">
        <p class="h2 mt-5 ww-title aos-init aos-animate" data-aos="zoom-in-down" data-aos-delay="300" data-aos-duration="1000" data-aos-offset="10">30<sup>th</sup> May,2021</p>
      </div>
    </div>
  </div>
 