<head>
  
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>


<div class="ww-section bg-light" id="events">
  
    <div class="container ww-wedding-event ">
      <h2 class="h1 text-center pb-3 ww-title aos-init aos-animate" data-aos="zoom-in-down" data-aos-duration="1000">Wedding Events</h2>
      <div class="row ">
        <div class="col-md-7 col-sm-12 ">
          <div class="my-3">
            <br><br><br>
            <div class="h4">Sumuhurth</div>
            <ul>
              <li class=""><i class="text-muted fa fa-calendar"></i><span class=" text-muted"> 30th May, 2021 11:15am</span></li> 
              <li><i class="text-muted fa fa-map-marker"></i><span class=" text-muted"> Kamma Sangam Function hall, Madhavanagar
                Nizamabad, Telangana - 503230</span></li><br>
              <li><a href="https://goo.gl/maps/BhPwMbfsGzsuXcAz5"><button class="btn btn-sm btn-outline-danger">Get Directions</button></a></li>
            </ul>
           
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="my-3"><img class="img-fluid aos-init aos-animate" src="assets/img/sumuhurat.png" alt="Wedding Party" data-aos="fade-down-right" data-aos-duration="1000"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-12 ">
          <div class="my-3">
            <br><br><br>
            <div class="h4">Reception</div>
            <ul>
              <li class=""><i class="text-muted fa fa-calendar"></i><span class=" text-muted"> 2nd June, 2021 7.30 pm onwards</span></li>
              <li><i class="text-muted fa fa-map-marker"></i><span class=" text-muted"> Kotha kapu Yadava Reddy Gardens, Nagurjuna Sagar Road
                Janki Enclave, Bhagya Nagar,Karmanghat, Hyderabad, Telangana-500079
                </span></li><br>
                <li><a href="https://goo.gl/maps/ed1ThkcnqDs75jhy6"><button class="btn btn-sm btn-outline-danger">Get Directions</button></a></li>
            </ul>
            
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="my-3"><img class="img-fluid aos-init aos-animate" src="assets/img/reception.png" alt="Reception" data-aos="fade-up-right" data-aos-duration="1000"></div>
        </div>
      </div>
    </div>
  </div>